# Android Studio ve IntelliJ IDEA
/.idea/
/*.iml

# Gradle
.gradle/
/build/

# Firebase ve API Anahtarları
/app/google-services.json
/secrets.properties

# Proguard ve Minification
proguard/
*.pro

# Çıktılar ve Geçici Dosyalar
*.apk
*.dex
*.tmp
*.log
hs_err_pid*
replay_pid*

# Native Development Kit (NDK)
/externalNativeBuild/
/.cxx/

# Node.js (React Native için)
/node_modules/

# Sisteme özel dosyalar
/local.properties
.DS_Store

# firebase apies
/app/google-services.json